n8n/workflows/1-daily-slo-report.json
{
    "name": "Daily SLO Report",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/v1/analytics/statistics?hours=24",
                "options": {}
            },
            "name": "Get 24h Statistics",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/v1/analytics/anomalies?hours=24",
                "options": {}
            },
            "name": "Get Anomalies",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const stats = $input.first().json;\nconst anomalies = $input.all()[1].json;\n\nconst cpuAvg = stats.cpu?.mean?.toFixed(1) || 'N/A';\nconst cpuMax = stats.cpu?.max?.toFixed(1) || 'N/A';\nconst memAvg = stats.memory?.mean?.toFixed(1) || 'N/A';\nconst memMax = stats.memory?.max?.toFixed(1) || 'N/A';\nconst anomalyCount = anomalies.count || 0;\n\nconst report = {\n  text: `📊 *Sentinel Daily Report*\\n\\n` +\n        `*Period:* Last 24 hours\\n` +\n        `*Date:* ${new Date().toISOString().split('T')[0]}\\n\\n` +\n        `*CPU Usage:*\\n` +\n        `  • Average: ${cpuAvg}%\\n` +\n        `  • Peak: ${cpuMax}%\\n\\n` +\n        `*Memory Usage:*\\n` +\n        `  • Average: ${memAvg}%\\n` +\n        `  • Peak: ${memMax}%\\n\\n` +\n        `*Anomalies Detected:* ${anomalyCount}\\n\\n` +\n        `${anomalyCount > 0 ? '⚠️ Review anomalies in Grafana' : '✅ No anomalies detected'}\\n\\n` +\n        `_View details: http://localhost:3001_`\n};\n\nreturn { json: report };"
            },
            "name": "Build Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                375
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SLACK_WEBHOOK_URL }}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send to Slack",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                375
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get 24h Statistics",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Anomalies",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get 24h Statistics": {
            "main": [
                [
                    {
                        "node": "Build Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Anomalies": {
            "main": [
                [
                    {
                        "node": "Build Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Report": {
            "main": [
                [
                    {
                        "node": "Send to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}