n8n/workflows/3-anomaly-detector.json
{
    "name": "Anomaly Detector",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 15
                        }
                    ]
                }
            },
            "name": "Check Every 15 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://backend:8000/api/v1/analytics/anomalies?hours=1&severity=critical",
                "options": {}
            },
            "name": "Get Critical Anomalies",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.count }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "name": "Any Anomalies?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\nconst anomalies = data.anomalies || [];\nconst count = data.count || 0;\n\nlet anomalyList = '';\nanomalies.slice(0, 5).forEach((a, i) => {\n  const time = new Date(a.detected_at).toLocaleTimeString();\n  anomalyList += `${i+1}. *${a.title}*\\n   Type: ${a.type}\\n   Time: ${time}\\n\\n`;\n});\n\nconst alert = {\n  text: `⚠️ *ANOMALIES DETECTED*\\n\\n` +\n        `*Critical Anomalies:* ${count}\\n` +\n        `*Last Hour*\\n\\n` +\n        `${anomalyList}` +\n        `${count > 5 ? `_...and ${count - 5} more_\\n\\n` : ''}` +\n        `🔍 View details: http://localhost:3001`\n};\n\nreturn { json: alert };"
            },
            "name": "Build Anomaly Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SLACK_WEBHOOK_URL }}",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send to Slack",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1050,
                200
            ]
        }
    ],
    "connections": {
        "Check Every 15 Minutes": {
            "main": [
                [
                    {
                        "node": "Get Critical Anomalies",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Critical Anomalies": {
            "main": [
                [
                    {
                        "node": "Any Anomalies?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Any Anomalies?": {
            "main": [
                [
                    {
                        "node": "Build Anomaly Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Anomaly Report": {
            "main": [
                [
                    {
                        "node": "Send to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}