n8n/workflows/backup_recovery.json
{
  "name": "Fail-Safe: Backup Recovery",
  "nodes": [
    {
      "parameters": {
        "path": "failsafe/backup-recovery",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "name": "Wait 15min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/backup/trigger",
        "method": "POST",
        "options": {}
      },
      "name": "Retry Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/v1/backup/status",
        "options": {}
      },
      "name": "Verify Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "🛡️ Fail-Safe: Backup recovery executed\n\nStatus: {{ $json.status }}\nTime: {{ $now }}\nContext: {{ $node['Webhook'].json.context }}",
        "otherOptions": {}
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait 15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15min": {
      "main": [
        [
          {
            "node": "Retry Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Backup": {
      "main": [
        [
          {
            "node": "Verify Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Backup": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
